flask
flask-compress
flask-sqlalchemy
sqlalchemy
pywebpush
flask-bcrypt
flask-cors
gitpython
pillow
bleach
google-auth
google-auth-oauthlib
google-api-python-client
requests
cohere
pyotp
qrcode
cryptography
dropbox
python-dotenv
mega.py
python-dateutil
pytz
vt-py
geoip2
user-agents